Merge to main from develop
# Pull Requests
## 開発物

<% pull_requests.each do |pr| -%>
<% if !pr.to_checklist_item.downcase(:ascii).include?("@dependabot[bot]") then -%>
<%= pr.to_checklist_item %>
<% end -%>
<% end -%>

---

## Dependabot

<% pull_requests.each do |pr| -%>
<% if pr.to_checklist_item.downcase(:ascii).include?("@dependabot[bot]") then -%>
<%= pr.to_checklist_item %>
<% end -%>
<% end -%>
